body {
    font-family: 'Lucida Sans';
  }
  
  #main {
    background-color: LightGray;
  }
  #title {
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
  }
  h2, h3, h4 {
    text-align: center;
  }
  #img-div {
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
  }
  #image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  
  #tribute-info {
    text-align: justify;
    margin: 0 auto;
    width: 50%;
  }
  li {
    padding: 10px 10px;
  }